[submodule "src/libs/middleclass"]
	path = src/libs/middleclass
	url = https://github.com/kikito/middleclass
[submodule "src/libs/lovetoys"]
	path = src/libs/lovetoys
	url = https://github.com/Lovetoys/lovetoys
